<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UTP Travel - Login</title>
  <link rel="stylesheet" href="C:\Users\Aravind\Desktop\UTP\css\login.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <h1>UTP TRAVEL LOGIN/SIGN UP</h1>
      </div>
    </nav>
  </header>
  <main>
    <section class="login-container">
      <h2>Login</h2>
      <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account? <a href="registeration.html">Sign up</a></p>
    </section>
  </main>
  <script src="C:\Users\Aravind\Desktop\UTP\server.js"></script>
</body>
</html>